.input
  = form_with model: @cost, local: true do |f|
    .input__form__category.input__form
      -# = f.label :category, 'カテゴリー：'
      = f.select :category, Cost.categories_i18n.invert, class: 'input__category', prompt: 'カテゴリ選択'

    .input__form__price.input__form
      -# = f.label :price, '金額：'
      = f.text_field :price, class: 'input__price', placeholder: '金額'

    .input__form__content.input__form
      -# = f.label :content, '内容：'
      = f.text_area :content, class: 'input__content', placeholder: '内容・コメント'

    .input__form__date.input__form
      -# = f.label :date, '日付：'
      = f.datetime_field :date, class: 'input__date'

    .input__form__submit.input__form
      = f.submit '入力', class: 'input__submit__btn'
