!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title CostNote
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__bar
        %h1.header__title
          = link_to root_path, class: 'header__title__text' do
            CostNote
        - if user_signed_in?
          .header__right
            .header__right__text
              ようこそ
              %span.header__right__text--name
                = current_user.name
              さん
            
            = link_to "/users/#{current_user.id}", class: 'header__right__btn' do
              .header__right__btn--icon 
                リスト一覧
            
            = link_to destroy_user_session_path, method: :delete, class: 'header__right__btnR' do
              .header__right__btnR--icon
                ログアウト
        - else
          .header__right
            = link_to new_user_session_path, class: 'header__right__btn' do
              .header__right__btn--icon 
                ログイン
            = link_to new_user_registration_path, class: 'header__right__btn' do
              .header__right__btn--icon 
                新規登録

    = yield
